<!-- Topbar -->
<nav class="topbar topbar-inverse topbar-expand-sm topbar-sticky">
  <div class="container">

    <div class="topbar-left">
      <!-- <button class="topbar-toggler">&#9776;</button> -->

      <div class="topbar-brand">

        <span style="font-size: 2em;vertical-align:middle; display: inline-flex;">
          <i class="material-icons" style="font-size: 1em">bubble_chart</i>Pesabooks</span>
        <!-- <img class="logo-default" src="assets/images/logo/black.svg" alt="logo">
          <img class="logo-inverse" src="assets/images/logo/white.svg" alt="logo"> -->
      </div>



    </div>

  </div>
</nav>
<!-- END Topbar -->


<!-- Header -->
<header class="header header-inverse h-fullscreen p-0 overflow-hidden" data-parallax="assets/images/women-phone.jpg"
  data-overlay="5">
  <div class="container">

    <div class="row h-full">
      <div class="col-12  align-self-center text-center text-lg-left">

        <h1 class="fs-50 fw-600 lh-15 hidden-sm-down">Easily manage your
          <span class="text-primary" data-type="Tontine, Susu, Likelemba, Ekub, Djangui"></span>
        </h1>
        <h1 class="fs-35 fw-600 lh-15 hidden-md-up">Easily manage your
          <br>
          <span class="text-primary" data-type="Tontine, Susu, Likelemba, Ekub, Djangui"></span>
        </h1>
        <br>
        <p class="lead text-white">Pesabooks is an accounting software to help you keep your books organized!</p>

        <br>
        <br>

        <div>
          <a class="btn btn-lg btn-primary w-200" href="https://app.pesabooks.com" target="_blank">Get Started</a>
          <!-- <a class="btn btn-lg btn-outline btn-white w-200 ml-8 hidden-sm-down" href="#" data-scrollto="section-features">Features</a> -->
        </div>

        <!-- <form class="form-inline form-glass" [formGroup] = "formdata" (ngSubmit)="submit()">
         
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon">
                  <i class="fa fa-envelope"></i>
                </span>
                <input type="email" name="email" class="form-control" placeholder="Email Address" formControlName = "email">
              </div>
            </div>
  
            <button type="submit" class="btn btn-lg btn-primary ml-12">Subscribe</button>
  
          </form>
          <br>
          <span *ngIf="isSuccess"  class="alert alert-success">We received your email and will contact you back soon.</span> -->
      </div>

    </div>
  </div>
</header>
<!-- END Header -->